* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111;
    min-height: 100vh;
    overflow: hidden;
}

.star {
    position: absolute;
    top: -20px;
    color: #fff;
    animation: animate 5s linear forwards;
    /* you can set infinite too */
}

.star::before {
    content: '\f005';
    font-family: FontAwesome;
    text-shadow: 0 0 5px #fff,
        0 0 20px #fff,
        0 0 50px #fff;
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }

}

@media screen and (max-width: 600px) {
    .star {
        font-size: 8px; 
    }
}

#roundedTextBox { 
    border: 2px solid #000; 
    border-radius: 15px; 
    padding: 10px; 
} 

#rcorners {
    border-radius: 15px 50px;
    background: #ffffff;
    padding: 20px; 
    height: 75px;
    opacity: 0.2;
    font-size: 1.2em;
    width: auto;
    margin: 0 auto;
    text-align:center;
  } 